In [22]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("compas.db")

In [23]:
df = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
df

            name
0     casearrest
1  prisonhistory
2    jailhistory
3         compas
4        summary
5         charge
6         people

In [24]:
df_people = pd.read_sql("SELECT * FROM people LIMIT 5;", conn)
df_people

,id,name,first,last,sex,race,dob,age,age_cat,juv_fel_count,...,r_offense_date,r_charge_desc,r_jail_in,r_jail_out,is_violent_recid,num_vr_cases,vr_case_number,vr_charge_degree,vr_offense_date,vr_charge_desc
0,1,miguel hernandez,miguel,hernandez,Male,Other,1947-04-18 00:00:00.000000,69,Greater than 45,0,...,None,None,None,None,0,None,None,None,None,None
1,2,michael ryan,michael,ryan,Male,Caucasian,1985-02-06 00:00:00.000000,31,25 - 45,0,...,None,None,None,None,0,None,None,None,None,None
2,3,kevon dixon,kevon,dixon,Male,African-American,1982-01-22 00:00:00.000000,34,25 - 45,0,...,2013-07-05 00:00:00.000000,Felony Battery (Dom Strang),None,None,1,None,13009779CF10A,(F3),2013-07-05 00:00:00.000000,Felony Battery (Dom Strang)
3,4,ed philo,ed,philo,Male,African-American,1991-05-14 00:00:00.000000,24,Less than 25,0,...,2013-06-16 00:00:00.000000,Driving Under The Influence,2013-06-16 09:05:47.000000,2013-06-16 07:18:55.000000,0,None,None,None,None,None
4,5,marcu brown,marcu,brown,Male,African-American,1993-01-21 00:00:00.000000,23,Less than 25,0,...,None,None,None,None,0,None,None,None,None,None

In [25]:
df_compas = pd.read_sql("SELECT * FROM compas LIMIT 5;", conn)
df_compas

,id,first,last,compas_person_id,compas_case_id,compas_assessment_id,agency_text,scale_set,assessment_reason,legal_status,...,marital_status,screening_date,rec_supervision_level,rec_supervision_level_text,score_text,scale_id,type_of_assessment,raw_score,decile_score,person_id
0,1,miguel,hernandez,56418,58393,64352,PRETRIAL,Risk and Prescreen,Intake,Pretrial,...,Single,2013-08-14 00:00:00.000000,1,Low,Low,7,Risk of Violence,-4.31,1,1
1,2,miguel,hernandez,56418,58393,64352,PRETRIAL,Risk and Prescreen,Intake,Pretrial,...,Single,2013-08-14 00:00:00.000000,1,Low,Low,8,Risk of Recidivism,-2.78,1,1
2,3,miguel,hernandez,56418,58393,64352,PRETRIAL,Risk and Prescreen,Intake,Pretrial,...,Single,2013-08-14 00:00:00.000000,1,Low,Low,18,Risk of Failure to Appear,13.00,1,1
3,4,michael,ryan,68603,72042,79669,PRETRIAL,Risk and Prescreen,Intake,Pretrial,...,Single,2014-12-31 00:00:00.000000,1,Low,Low,7,Risk of Violence,-2.75,2,2
4,5,michael,ryan,68603,72042,79669,PRETRIAL,Risk and Prescreen,Intake,Pretrial,...,Single,2014-12-31 00:00:00.000000,1,Low,Medium,8,Risk of Recidivism,-0.34,5,2

In [26]:
df_casearrest = pd.read_sql("SELECT * FROM casearrest LIMIT 5;", conn)
df_casearrest

,id,name,case_number,arrest_id,arrest_date,charge_degree,days_since_compas_arrest,person_id
0,1,aajah herrington,13005832CF10A,3026755,2013-04-23 00:00:00.000000,(F3),1,533
1,2,aajah herrington,13005832CF10A,3026756,2013-04-23 00:00:00.000000,(M2),1,533
2,3,aajah herrington,14007863MM10A,3144392,2014-05-13 00:00:00.000000,(M1),-384,533
3,4,aaliyah lovo,13015312CF10A,3084831,2013-11-03 00:00:00.000000,(F2),1,900
4,5,aaliyah lovo,13015312CF10A,3084832,2013-11-03 00:00:00.000000,(M1),1,900

In [27]:
df_prisonhistory = pd.read_sql("SELECT * FROM prisonhistory LIMIT 5;", conn)
df_prisonhistory

,id,name,first,middle,last,dob,in_custody,out_custody,person_id
0,1,None,bilal,None,williams,1955-05-12 00:00:00.000000,1986-03-13 00:00:00.000000,1987-02-19 00:00:00.000000,4813
1,2,None,eduardo,None,cisneros,1979-08-23 00:00:00.000000,2015-02-24 00:00:00.000000,2020-01-01 00:00:00.000000,7889
2,3,None,brenley,None,johnson,1962-08-24 00:00:00.000000,2008-03-24 00:00:00.000000,2009-01-01 00:00:00.000000,9400
3,4,None,michael,None,stenquist,1980-12-30 00:00:00.000000,2015-07-02 00:00:00.000000,2015-07-08 00:00:00.000000,11598
4,5,None,andreas,None,fountain,1977-08-08 00:00:00.000000,2006-11-21 00:00:00.000000,2007-12-19 00:00:00.000000,320

In [28]:
df_jailhistory = pd.read_sql("SELECT * FROM jailhistory LIMIT 5;", conn)
df_jailhistory

,id,first,last,dob,in_custody,out_custody,person_id
0,1,victor,lozada,1951-05-12 00:00:00.000000,2013-08-05 12:41:27.000000,2013-08-13 02:27:19.000000,880
1,2,pierre,merilus,1993-03-31 00:00:00.000000,2014-11-14 12:27:25.000000,2014-11-16 03:01:50.000000,2799
2,3,diana,loubeau,1993-10-01 00:00:00.000000,2014-05-01 09:46:32.000000,2014-05-02 09:39:12.000000,486
3,4,thomas,carter,1961-01-17 00:00:00.000000,2013-05-25 05:28:09.000000,2013-05-26 08:34:54.000000,7902
4,5,travis,wright,1995-01-05 00:00:00.000000,2013-11-14 04:18:05.000000,2014-07-14 10:15:01.000000,3369

In [29]:
df_charge = pd.read_sql("SELECT * FROM charge LIMIT 5;", conn)
df_charge

,id,case_type,case_number,filing_date,offense_date,charge_number,charge_degree,charge,date_charge_filed,filing_type,filing_agency,name,days_since_compas,statute,person_id
0,1,,13005832CF10A,1800-01-01 00:00:00.000000,2013-04-23 00:00:00.000000,1,(F3),Driving While License Revoked,2013-04-23 00:00:00,No Information/ Transfer to Misdemeanor,Fort Lauderdale PD,aajah herrington,1,322.34(5),533
1,2,,13005832CF10A,1800-01-01 00:00:00.000000,2013-04-23 00:00:00.000000,2,(M2),Petit Theft,2013-04-23 00:00:00,Transfer to County Court,Fort Lauderdale PD,aajah herrington,1,812.014(3)(a),533
2,3,,14042370TC10A,1800-01-01 00:00:00.000000,2014-11-11 00:00:00.000000,1,(M2),Driving License Suspended,2014-11-11 00:00:00,None,Fort Lauderdale PD,aajah herrington,-566,322.34(2),533
3,4,,14007863MM10A,1800-01-01 00:00:00.000000,2014-05-13 00:00:00.000000,1,(M1),Extradition/Defendants,2014-05-13 00:00:00,Fugitive,Fort Lauderdale PD,aajah herrington,-384,941.02,533
4,5,,11065568TI30A,1800-01-01 00:00:00.000000,2011-07-03 00:00:00.000000,1,(0),Violation Of Move Over Law,2011-07-03 00:00:00,None,Broward Sheriff Office,aajah herrington,661,316.126(1)(B)1,533

In [21]:
df_summary = pd.read_sql("SELECT * FROM summary;", conn)
df_summary

Empty DataFrame
Columns: [id, first, last, sex, race, dob, age, type_of_assessment, raw_score, decile_score, legal_status, screening_date, case_type, charge_degree, filing_date, case_number, charge, in_custody, out_custody, num_days_in_jail, recidivist, days_since_compas, prior_charge, future_charge, compas_charge, person_id]
Index: []

[0 rows x 26 columns]